<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="css/prism.css" />

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css" />

    <title>{{{title}}}</title>
</head>

<body>
    {{> _header}}
    {{{body}}}
    <script src="scripts/prism.js"></script>
</body>

<script>
    document.getElementById("pastename").addEventListener('input', async (e) => {
        const name = e.target.value;
        const response = await fetch("/api/paste?name=" + name);
        const users = await response.json();
        if (users.exist === false)
            e.target.setCustomValidity(`The paste "${name}" already exists!`);
        else
            e.target.setCustomValidity('');

        e.target.reportValidity();
    })
</script>

</html>