<div class="container">
    <form>
        <fieldset>
            <legend>New Paste</legend>
            <div class="form-group">
                <label for="pastename">Paste Name</label>
                <input type="text" class="form-control col-sm-3" id="pastename" aria-describedby="pastename"
                    placeholder="Enter paste name"
                    style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <div class="form-group col-sm-3">
                    <select class="custom-select">
                        <option selected="">Plain Text</option>
                        <option value="1">C</option>
                        <option value="2">JS</option>
                        <option value="3">Python</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control col-md-8" id="content" rows="12"></textarea>
            </div>
            <div class="form-group">
                <label for="expiresIn">Expires in</label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                    <label class="custom-control-label" for="customRadio1">One day</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio2">One week</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                    <label class="custom-control-label" for="customRadio3">One month</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>