{% extends "main.html" %}

{% block metacontent %}
<meta property="og:title" content="{{ name }}" />
<meta property="og:description" content="{{ content }}" />
<meta property="og:image" content="https://raw.githubusercontent.com/Mithil467/Mitbin/image/Mitbin.png" />
{% endblock %}


{% block content %}
<div class="container">
    <legend>{{ name }}</legend>
    <pre class="line-numbers"><code class="{{ language }}">{{ content }}</code></pre>
    {% if timestamps %}
    <p id="createdAt">Created before {{ createdAt }}</p>
    <p id="expiresAt">Expires in {{ expiresAt }}</p>
    {% else %}
    <center>
        <a href="https://twitter.com/MithilPoojary"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        &nbsp;
        <a href="https://github.com/Mithil467"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        &nbsp;
        <a href="https://www.linkedin.com/in/mithil-poojary"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
    </center>
    {% endif %}
</div>
{% endblock %}